---
import areas from "@content/areas/area.yml";
import type { IAreaItem } from "@datatypes/datatypes";

import AreaItem from "@components/AreaItem.astro";
import ProyectoLayout from "@layouts/ProyectoLayout.astro";
---

<ProyectoLayout>
  <ul>
    {
      areas.areas.map((area: IAreaItem) => (
        <li class="area-item">
          <AreaItem
            link="/area"
            pk={area.pk}
            name={area.name}
            participants={area.participants}
          />
        </li>
      ))
    }
  </ul>
</ProyectoLayout>

<style>
  li {
    margin: 10px 15px;
  }
</style>
