---
import filtros from "@content/participantes/filtro.yml";
import BaseLayout from "@layouts/BaseLayout.astro";
import Filter from "@components/Filter.astro";
---

<BaseLayout>
  <h1>Bolivia Produce <br />Fase Departamental</h1>
  <h2>Módulo Tecnológico Productivo<br />San Julián</h2>
  <Filter areas={filtros.areas} />
</BaseLayout>

<style>
  h1 {
    margin: 50px 0px 10px;
    text-align: center;
    font-size: var(--text-28);
  }

  h2 {
    text-align: center;
    font-size: var(--text-18);
    color: var(--green-800);
  }
</style>
