---

---
<nav>
  <a href="/" class="brand">Bolivia Produce</a>
  <ul>
    <li><a href="/cronograma">Cronograma</a></li>
    <li><a href="/proyectos">Proyectos</a></li>
  </ul>
</nav>

<style>
  .brand {
    font-weight: bold;
    font-size: var(--text-18);
    color: var(--white);
    text-decoration: none;
  }

  nav {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--green-700);
    color: var(--white);
    padding: 0px 15px;
  }

  a {
    text-decoration: none;
    color: var(--white);
    padding-left: 10px;
  }

  ul {
    display: flex;
    gap: 5px;
  }
</style>